@using CostMatrix.Web.Extensions
@model CostMatrix.Web.Models.ProjectEditModel

@{
    ViewBag.Title = "Delete Project";
}

<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Actions</li>
            @Html.MenuLink("List Clients", "Index", "Client")
            @Html.MenuLink("Add Client", "Add", "Client")
        </ul>
    </div><!--/.well -->
</div><!--/span-->


<div class="span9">
    <h3>Delete Project</h3>
    <p>Are you sure you want to delete: <strong>@Model.Name</strong></p>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {           
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.ClientId)
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Delete Project</button>
            @Html.ActionLink("Cancel", "Detail", "Client", new { id = Model.ClientId }, new { @class = "btn" })
        </div>
    }
</div><!--/span-->