@using CostMatrix.Web.Extensions
@model CostMatrix.Web.Models.ClientViewModel

@{
    ViewBag.Title = "Client Detail";
}

<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Actions</li>
            @Html.MenuLink("List Clients", "Index", "Client")
            @Html.MenuLink("Add Client", "Add", "Client")
        </ul>
    </div><!--/.well -->
</div><!--/span-->


<div class="span9">
    <h3>@Model.Name</h3>
    
    <h4>Projects</h4>
    
    <p>@Html.ActionLink("Add Project", "AddProject", "Client", new { id = Model.Id }, new { @class = "btn btn-primary" })</p>
    
    @if (!Model.Projects.Any())
    {
        <p>There are currently no projects for this client</p>
    }
    else
    {
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="span5">
                        Name
                    </th>
                    <th class="span2">
                        Created By
                    </th>
                    <th class="span3">
                        Created On
                    </th>
                    <th class="span2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                    <tr>
                        <td>
                            <a data-toggle="collapse" href="#collapse-@project.Id">
                                @project.Name
                            </a>
                        </td>
                        <td>
                            @project.CreatedBy
                        </td>
                        <td>
                            @project.CreatedOn
                        </td>
                        <td>
                            <a title="New Matrix" rel="tooltip" href="@Url.Action("Add", "Matrix", new { id = project.Id })"><i class="icon-pencil"></i></a>
                            <a title="Edit" rel="tooltip" href="@Url.Action("EditProject", "Client", new { id = project.Id })"><i class="icon-edit"></i></a>
                            <a title="Delete" rel="tooltip" href="@Url.Action("DeleteProject", "Client", new { id = project.Id })"><i class="icon-remove"></i></a>
                        </td>
                    </tr>    
                    <tr>
                        <td colspan="4" style="padding: 0; border-top: 0;">
                            <div id="collapse-@project.Id" class="collapse">
                                <div class="accordion-inner">
                                    <h5>Cost Matrixes</h5>
                                    
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="span5">Name</th>
                                                <th class="span2">Created By</th>
                                                <th class="span3">Created On</th>
                                                <th class="span2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var matrix in project.Matrixes)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(m => matrix.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => matrix.CreatedBy)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => matrix.CreatedOn)
                                                    </td>
                                                    <td>
                                                        <a title="Edit" rel="tooltip" href="@Url.Action("Edit", "Matrix", new { id = matrix.Id })"><i class="icon-edit"></i></a>
                                                        <a title="Export CSV" rel="tooltip" href="@Url.Action("Csv", "Matrix", new { id = matrix.Id })"><i class="icon-file"></i></a>
                                                        <a title="Clone" rel="tooltip" href="@Url.Action("Clone", "Matrix", new { id = matrix.Id, clientId = Model.Id })"><i class="icon-plus-sign"></i></a>
                                                        <a title="Delete" rel="tooltip" href="@Url.Action("Delete", "Matrix", new { id = matrix.Id })"><i class="icon-remove"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                
                </tr>
            </tfoot>
        </table>        
    }

</div><!--/span-->